.projetos {
  min-height: 100vh;
  padding: 2rem;
  background-color: #0f0f14;
  color: white;
}

.projetos h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projetos-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.projeto-card:hover{
  transform: translateY(-6px);
transition: all 0.3s ease;
border: 2px solid #6c63ff;
box-shadow: 0 0 20px rgba(79,70,229,0.4);
}

.projeto-card {
  background: #1a1a24;
  padding: 1.5rem;
  border-radius: 12px;
}

.projeto-card h3 {
  margin-bottom: 0.5rem;
}

.projeto-card p {
  font-size: 0.95rem;
  opacity: 0.9;
}

.tecnologias {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.tecnologias span {
  background: #2a2a3d;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  font-size: 0.75rem;
}

.projeto-links {
  display: flex;
  gap: 1rem;
}

.projeto-links a {
  color: #6c63ff;
  font-weight: 500;
}

/* Desktop */
@media (min-width: 768px) {
  .projetos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
