.home {
  min-height: 100vh;
  padding: 2rem;
  background-color: #0f0f14;
  color: #ffffff;
  justify-content: space-between;
  display: flex;
  gap: 120px;
  align-items: center;
}

.home-content {
  max-width: 500px;
}

.home h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.home h2 {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.8;
}

.home p {
  margin: 1rem 0 2rem;
  line-height: 1.6;
  opacity: 0.9;
}

.home-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}



.btn {
  padding: 0.8rem 1.4rem;
  border-radius: 8px;
  font-weight: 500;
}

.btn.primeiro {
  background: #6c63ff;
  color: #fff;
}

.btn.segundo {
  border: 1px solid #6c63ff;
  color: #6c63ff;
}

.btn.terceiro {
  border: 1px solid #6c63ff;
  color: #6c63ff;
}

.btn.quarto {
  border: 1px solid #6c63ff;
  color: #6c63ff;
}

.btn:hover{
  transform: translateY(-6px);
transition: all 0.3s ease;
border: 2px solid #6c63ff;
box-shadow: 0 0 20px rgba(79,70,229,0.4);
}




#name{
  background: linear-gradient(90deg, #7f5af0, #2cb67d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home p{
  color: rgb(255, 255, 255);
}

.home h2{
  color: rgb(143, 162, 177);
}





.hero-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 350px;
  margin-bottom: 100px;
}

.hero-img img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #7c6cff;
  box-shadow: 0 0 40px rgba(124,108,255,0.4);
}


/* mobile */
@media (max-width: 768px){

  .home{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 40px 20px;
    gap: 25px;
  }

  .hero-img{
    order: -1;
    margin-bottom: 50px;
    margin-left: 350px;
  }

  .hero-img img{
    width: 180px;
    height: 180px;
  }

  .home-buttons{
    justify-content: center;
  }
}